* {
   position: relative;
}

html {
   scroll-behavior: smooth; 
}

body {
   background-color: black;
   color: lime;
}

header {
   text-align: center;
}

img {
   height: 200px;
   width: 200px;
}

li {
   display: inline;
}

footer {
   background: linear-gradient(to right, black, navy);
   color: white;
}

footer i {
   width: 50px;
   height: 50px;
   color: white;  
}

span {
   color: white;
}

.buttons {
  font-size: 20px;
  padding: 5px;
  text-align: center;
  background-color: navy;
  color: white;
  border-radius: 12px;
}

.buttons:hover {
  background-color: white;
  color: navy;
}

#aboutme {
   text-align: center;
}

#brand {
   font-weight: 500;
   height: 100px;
   position: relative;
   font-size: 100px;
   font-family: audiowide;
   text-transform: uppercase;
}

#brand::before {
   content: attr(data-text);
   position: absolute;
   top: 0;
   left: 0;
   width: 0%;
   height: 100%;
   color: white;
   -webkit-text-stroke: 0.5vw lime;
   border-right: 2px solid lime;
   overflow: hidden;
   text-align: center;
   text-shadow: 5px 5px 10px white;
   animation: animate 8s linear infinite alternate;
   -webkit-animation: animate 8s linear infinite alternate;
}

@keyframes animate {
   0% {
      width: 0%;
   }
   70% {
      width: 100%;
   }
}
