
footer {
   background: linear-gradient(to right, black, blue) 
}

footer a {
   color: white;
}

footer a:hover {
   text-decoration: underline white solid 5px;  
}

footer i {
   width: 50px;
   height: 50px;
   color: white;  
}

address {
   color: white;  
}

#contact {
   color: white;  
}
